$primary   : #01427e // #245d28
$secondary : #0352A0 // #a72818
$primary-light: #9CCCFC // #afc881
$background: #FDCC9B //#faf9cb
$background-lighter: #FEE0C3
$dark-red: #8f2716
$warm-yellow: #fff233

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037

$hover-transition-duration: 0.3s

$h1: (size: 2.25rem,  line-height: 4rem,     letter-spacing: -.01562em, weight: 500) !default
$h2: (size: 2rem,  line-height: 3.75rem,  letter-spacing: -.00833em, weight: 500) !default
$h3: (size: 1.75rem,  line-height: 3.125rem, letter-spacing: normal,    weight: 500) !default
$h4: (size: 1.5rem, line-height: 2rem,   letter-spacing: .00735em,  weight: 500) !default
$h5: (size: 1.05rem,   line-height: 2rem,     letter-spacing: normal,    weight: 500) !default
$h6: (size: 1rem,  line-height: 2rem,     letter-spacing: .0125em,   weight: 500) !default

$body-font-size: 15px !default
$table-th-font-size: 16px !default
$table-tbody-td-font-size: 15px !default

$button-border-radius: 5px !default
$button-padding: 6px 12px 4px 12px !default
$button-font-size: 15px !default



$apricot-primary   : #1F6C98
$apricot-secondary : #7B2D26
$apricot-primary-light: #85C6FF
$apricot-background: #FBC99D //or #F9D48B

$lilac-primary   : #18678C
$lilac-secondary : #644276
$lilac-primary-light: #96D2ED
$lilac-secondary-light: #C3ABD0


$berry-primary   : #8B2D81
$berry-secondary : #8B2D81
$berry-primary-light: #EBC1E7
$berry-background: #F7E164

$mobile-bp: 480px
$desktop-bp: 1024px
